
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta property="og:description" content="A call for evidence that seeks views on potential opportunities to improve our driving licensing regime. ">
<meta property="og:title" content="Driving licensing review - call for evidence on opportunities for changes to the driver licensing regime">
<meta property="og:url" content="https://www.gov.uk/government/consultations/driving-licensing-review-call-for-evidence-on-opportunities-for-changes-to-the-driver-licensing-regime">
<meta property="og:type" content="article">
<meta property="og:site_name" content="GOV.UK">
<meta name="twitter:card" content="summary">
<meta name="description" content="A call for evidence that seeks views on potential opportunities to improve our driving licensing regime. ">
<meta name="govuk:taxon-slugs" content="driving-and-motorcycle-tests,driving-licences,professional-driving-of-lorries-buses-and-coaches,transport-businesses-and-vehicle-operator-licences">
<meta name="govuk:taxon-slug" content="driving-and-motorcycle-tests">
<meta name="govuk:taxon-ids" content="9f5f3106-7145-4f30-a2d5-e3ac1b002289,c71f6a1e-2bcd-407e-b0da-6728cb55e4db,b4e41212-77b8-44ba-8fb5-6aa479b20d36,693b7a9e-688f-4278-9375-9841f4187b23">
<meta name="govuk:taxon-id" content="9f5f3106-7145-4f30-a2d5-e3ac1b002289">
<meta name="govuk:themes" content="transport">
<meta name="govuk:analytics:organisations" content="<D9>">
<meta name="govuk:primary-publishing-organisation" content="Department for Transport">
<meta name="govuk:public-updated-at" content="2022-08-05T10:52:23.000+00:00">
<meta name="govuk:updated-at" content="2022-10-04T22:45:06.049Z">
<meta name="govuk:first-published-at" content="2022-08-05T10:52:23.000+00:00">
<meta name="govuk:content-has-history" content="true">
<meta name="govuk:content-id" content="7e92edc6-a82e-44bd-9291-e73b1579f2e8">
<meta name="govuk:schema-name" content="consultation">
<meta name="govuk:rendering-app" content="government-frontend">
<meta name="govuk:publishing-app" content="whitehall">
<meta name="govuk:format" content="open_consultation">
    <meta charset="utf-8">
    <title lang="en">
      Driving licensing review - call for evidence on opportunities for changes to the driver licensing regime - GOV.UK
  </title>

    <script src="https://www.gov.uk/assets/static/govuk_publishing_components/vendor/lux/lux-measurer-505eef3e243b1d08ea7c4b945ebe1ae146d896db61366e415b30cc1bcd84cbdc.js" async="async"></script>
    <script src="https://www.gov.uk/assets/static/govuk_publishing_components/rum-loader-c53469dcb841d7b228c914a2e8bdcf3b831a578adf7d4f21cf9da5b85df7381e.js" async="async" data-lux-reporter-script="https://www.gov.uk/assets/static/govuk_publishing_components/vendor/lux/lux-reporter-0630526d2811f955ec5e421a6233bd828938bf706c2481233ef4efb8831d0625.js"></script>



    <link rel="stylesheet" href="https://www.gov.uk/assets/static/application-2c94784e6080dc2a919bfbcd48e30ff9f75b4d356fd013c0a32f49f29a467352.css" media="all">
    <link rel="stylesheet" href="https://www.gov.uk/assets/static/print-2a680d506cc712d929abd0abaf49423a99f2cddc1b23a38c29014bc002f0f9dc.css" media="print">
    <!--[if lt IE 9]><script src="https://www.gov.uk/assets/static/govuk_publishing_components/ie-94963d6661190bc897905bbbe222a31c7ca0aff3a3b9f808ba15d4cd90780a9b.js" crossorigin="anonymous" integrity="sha256-pFJFRKU9V6fiWbS7lmucMlV8mMkgt35S0JMEZCtoQBo="></script><![endif]-->
    <link rel="shortcut icon" href="https://www.gov.uk/assets/static/favicon-9ed7849c462c53aa2cdf1690eb257e801ecbf5696d1d0928868c5b032b4adb36.ico" type="image/x-icon">
    <link rel="mask-icon" href="https://www.gov.uk/assets/static/govuk-mask-icon-a409a4db4a5e72c99ae3916653710064c43eb4be35821f79c07c5156e7dc5808.svg" color="#0b0c0c">
    <link rel="apple-touch-icon" sizes="180x180" href="https://www.gov.uk/assets/static/govuk-apple-touch-icon-180x180-026deaa34fa328ae5f1f519a37dbd15e6555c5086e1ba83986cd0827a7209902.png">
    <link rel="apple-touch-icon" sizes="167x167" href="https://www.gov.uk/assets/static/govuk-apple-touch-icon-167x167-a44a5b317f51a61950697fbe6c61ffe3b5acdd89de60ef70429daa32881d5279.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://www.gov.uk/assets/static/govuk-apple-touch-icon-152x152-828a839e5c83de19f98014eef54cec77aa11063a23ce321970d6f9310eeabb6c.png">
    <link rel="apple-touch-icon" href="https://www.gov.uk/assets/static/govuk-apple-touch-icon-5f801db05920bd1eb2b27a7a90328599bb16b6344c3213795af0f20d3ca179b0.png">

    <meta name="theme-color" content="#0b0c0c">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta property="og:image" content="https://www.gov.uk/assets/static/govuk-opengraph-image-dade2dad5775023b0568381c4c074b86318194edb36d3d68df721eea7deeac4b.png">


  <link rel="stylesheet" href="/assets/government-frontend/application-69450ed4fc007ef22e313f1c73a1f02c3aba8f2eab45d754ce20b3c7eb538e4c.css">
<link rel="stylesheet" href="/assets/government-frontend/print-bcb988c58a27d6eb2bbce8bdaa46a916550927b9715bd8bf8b69a36c3716d40f.css" media="print">
<link rel="canonical" href="https://www.gov.uk/government/consultations/driving-licensing-review-call-for-evidence-on-opportunities-for-changes-to-the-driver-licensing-regime">
<meta name="govuk:rendering-application" content="government-frontend">
</head>

<body class="gem-c-layout-for-public govuk-template__body js-enabled">
    <script>
      document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
    </script>
    <a class="gem-c-skip-link govuk-skip-link govuk-!-display-none-print" data-module="govuk-skip-link" href="#content" data-govuk-skip-link-module-started="true">Skip to main content</a>


    <div id="global-cookie-message" class="gem-c-cookie-banner govuk-clearfix" data-module="cookie-banner" role="region" aria-label="cookie banner" data-nosnippet="" data-cookie-banner-module-started="true" style="display: none;">
  <div class="govuk-cookie-banner js-banner-wrapper" role="region" aria-label="Cookies on GOV.UK">
    <div class="gem-c-cookie-banner__message govuk-cookie-banner__message govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-cookie-banner__heading govuk-heading-m">Cookies on GOV.UK</h2>
          <div class="govuk-cookie-banner__content">
            <p class="govuk-body">We use some essential cookies to make this website work.</p>
<p class="govuk-body">We’d like to set additional cookies to understand how you use GOV.UK, remember your settings and improve government services.</p>
<p class="govuk-body">We also use cookies set by other sites to help us deliver content from their services.</p>
          </div>
        </div>
      </div>
          <div class="govuk-button-group">



  <button class="gem-c-button govuk-button" type="submit" data-module="gem-track-click" data-accept-cookies="true" data-track-category="cookieBanner" data-track-action="Cookie banner accepted" data-cookie-types="all" data-gem-track-click-module-started="true" style="display: block;">Accept additional cookies</button>





  <button class="gem-c-button govuk-button" type="submit" data-module="gem-track-click" data-reject-cookies="true" data-track-category="cookieBanner" data-track-action="Cookie banner rejected" data-gem-track-click-module-started="true" style="display: block;">Reject additional cookies</button>


            <a class="govuk-link" href="/help/cookies">View cookies</a>
          </div>
    </div>
  </div>
  <div class="gem-c-cookie-banner__confirmation govuk-width-container" tabindex="-1" hidden="">
    <p class="gem-c-cookie-banner__confirmation-message" role="alert">You can <a class="govuk-link" data-module="gem-track-click" data-track-category="cookieBanner" data-track-action="Cookie banner settings clicked from confirmation" href="/help/cookies" data-gem-track-click-module-started="true">change your cookie settings</a> at any time.</p>
    <div class="govuk-button-group">
      <button class="gem-c-cookie-banner__hide-button govuk-button" data-hide-cookie-banner="true" data-module="gem-track-click" data-track-category="cookieBanner" data-track-action="Hide cookie banner" data-gem-track-click-module-started="true">Hide this message</button>
    </div>
  </div>
</div>




      <div class="gem-c-layout-for-public__blue-bar govuk-width-container"></div>


      <div id="wrapper" class="direction-ltr govuk-width-container">


<div class="gem-c-contextual-breadcrumbs">



<div class="gem-c-breadcrumbs govuk-breadcrumbs govuk-breadcrumbs--collapse-on-mobile" data-module="gem-track-click" data-gem-track-click-module-started="true">
  <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a data-track-category="homeLinkClicked" data-track-action="homeBreadcrumb" data-track-label="" data-track-options="{}" class="govuk-breadcrumbs__link" href="/">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a data-track-category="breadcrumbClicked" data-track-action="2" data-track-label="/transport" data-track-options="{&quot;dimension28&quot;:&quot;4&quot;,&quot;dimension29&quot;:&quot;Transport&quot;}" class="govuk-breadcrumbs__link" href="/transport">Transport</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a data-track-category="breadcrumbClicked" data-track-action="3" data-track-label="/transport/driving-and-road-transport" data-track-options="{&quot;dimension28&quot;:&quot;4&quot;,&quot;dimension29&quot;:&quot;Driving and road transport&quot;}" class="govuk-breadcrumbs__link" href="/transport/driving-and-road-transport">Driving and road transport</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a data-track-category="breadcrumbClicked" data-track-action="4" data-track-label="/transport/driving-and-motorcycle-tests" data-track-options="{&quot;dimension28&quot;:&quot;4&quot;,&quot;dimension29&quot;:&quot;Driving and motorcycle tests&quot;}" class="govuk-breadcrumbs__link" href="/transport/driving-and-motorcycle-tests">Driving and motorcycle tests</a>
        </li>
  </ol>
</div>

</div>


    <main role="main" id="content" class="consultation" lang="en">




<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


<div class="gem-c-title govuk-!-margin-top-8 govuk-!-margin-bottom-8">
      <span class="govuk-caption-xl gem-c-title__context">
    Open consultation
  </span>


  <h1 class="gem-c-title__text govuk-heading-l">
    Driving licensing review - call for evidence on opportunities for changes to the driver licensing regime
  </h1>
</div>
  </div>

</div>

<div class="govuk-grid-row">
  <div class="metadata-logo-wrapper">
    <div class="govuk-grid-column-two-thirds metadata-column">
      <div class="gem-c-metadata govuk-!-margin-bottom-3" data-module="gem-toggle metadata" data-gem-toggle-module-started="true" data-metadata-module-started="true">
  <dl data-module="gem-track-click" data-gem-track-click-module-started="true">
      <dt class="gem-c-metadata__term">From:</dt>
      <dd class="gem-c-metadata__definition">
          <a class="govuk-link" href="/government/organisations/department-for-transport">Department for Transport</a>

      </dd>
      <dt class="gem-c-metadata__term">Published</dt>
      <dd class="gem-c-metadata__definition">5 August 2022</dd>
  </dl>
</div>
    </div>
    <div class="govuk-grid-column-one-third">
    </div>
  </div>
</div>

<div class="govuk-!-display-none-print govuk-!-margin-bottom-6" data-module="gem-track-click" data-gem-track-click-module-started="true">
  <form class="gem-c-single-page-notification-button" action="/email/subscriptions/single-page/new" method="POST" data-track-label="/government/consultations/driving-licensing-review-call-for-evidence-on-opportunities-for-changes-to-the-driver-licensing-regime" data-track-action="Subscribe-button-top" data-track-category="Single-page-notification-button" data-button-location="top">
    <input type="hidden" name="base_path" value="/government/consultations/driving-licensing-review-call-for-evidence-on-opportunities-for-changes-to-the-driver-licensing-regime">
    <button class="govuk-body-s gem-c-single-page-notification-button__submit" type="submit">  <svg class="gem-c-single-page-notification-button__icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" height="18" width="18" viewBox="0 0 459.334 459.334"><path fill="currentColor" d="M177.216 404.514c-.001.12-.009.239-.009.359 0 30.078 24.383 54.461 54.461 54.461s54.461-24.383 54.461-54.461c0-.12-.008-.239-.009-.359H175.216zM403.549 336.438l-49.015-72.002v-89.83c0-60.581-43.144-111.079-100.381-122.459V24.485C254.152 10.963 243.19 0 229.667 0s-24.485 10.963-24.485 24.485v27.663c-57.237 11.381-100.381 61.879-100.381 122.459v89.83l-49.015 72.002a24.76 24.76 0 0 0 20.468 38.693H383.08a24.761 24.761 0 0 0 20.469-38.694z"></path></svg>Get emails about this page
</button>
</form>
</div>




<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  <section class="gem-c-devolved-nations">
    <h2 class="govuk-heading-s govuk-!-margin-bottom-0">
      Applies to England, Scotland and Wales
</h2>
</section>






    <section class="app-c-banner app-c-banner--aside" aria-label="Notice" lang="en">
      <h2 class="app-c-banner__title">Summary</h2>
  <p class="app-c-banner__desc">
          A call for evidence that seeks views on potential opportunities to improve our driving licensing regime.

  </p>

    <p class="app-c-banner__desc">        This consultation closes at<br>
        <span class="consultation-date"><time datetime="2022-10-28T23:45:00.000+01:00">11:45pm on 28 October 2022</time></span>
</p>
</section>




    <div class="consultation-description">
      <h2 class="gem-c-heading gem-c-heading--font-size-27 gem-c-heading--mobile-top-margin">Consultation description</h2>



<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak" data-govspeak-module-started="true">

        <div class="govspeak">
<p>During the coronavirus (COVID-19) pandemic and the subsequent HGV driver shortage crisis, the government rapidly put <a href="https://www.gov.uk/government/topical-events/hgv-driver-shortage-uk-government-response/about" class="govuk-link">33 actions in place to address these</a>.</p>

<p>Eight of these actions came from expanding the HGV driver testing capacity and improving the licensing process. The licensing improvements were achievable partly due to the fact that we had left the European Union and had the freedom to change our legislation to improve our testing and licensing regime.</p>

<p>We now wish to explore whether there are any further opportunities that could be available to us. These include whether to grant drivers who have category B car licence entitlement additional entitlement to category C1 (7.5 tonnes) goods vehicle entitlement and whether to grant drivers who have a category B licence entitlement to a minibus category D1 licence.</p>

<p>In addition to other ideas on licence categories, there are proposals to raise the standards of HGV instruction and improve pass rates and to permit a person who has held an HGV category C licence for 2 years to drive PCVs for maintenance and repair purposes.</p>

<p>Any changes would need to ensure continued safe use of our roads and be economically proportionate. That is why we want to hear the views of those who help make our driver licensing regime efficient and safe and be guided by the feedback.</p>
</div>

</div>

        <section id="documents">
    <h2 class="gem-c-heading gem-c-heading--font-size-27 gem-c-heading--mobile-top-margin">Documents</h2>



<div class="gem-c-govspeak govuk-govspeak direction-ltr" data-module="govspeak" data-govspeak-module-started="true">

        <section class="attachment embedded" id="attachment_6860261">
  <div class="attachment-thumb">
      <a aria-hidden="true" class="thumbnail" tabindex="-1" href="/government/consultations/driving-licensing-review-call-for-evidence-on-opportunities-for-changes-to-the-driver-licensing-regime/driving-licensing-call-for-evidence"><svg version="1.1" viewBox="0 0 99 140" width="99" height="140" aria-hidden="true">
	<path d="M30,95h57v9H30V95z M30,77v9h39v-9H30z M30,122h48v-9H30V122z M12,68h9v-9h-9V68z M12,104h9v-9h-9V104z M12,86h9v-9h-9V86z   M12,122h9v-9h-9V122z M87,12v27H12V12H87z M33,17h-4v8h-6v-8h-4v18h4v-7l6,0v7l4,0V17z M49,17H35l0,3h5v15h4V20l5,0V17z M68,17h-4  l-5,6l-5-6h-4v18h4l0-12l5,6l5-6l0,12h4V17z M81,32h-6V17h-4v18h10V32z M30,68h57v-9H30V68z" stroke-width="0"></path>
</svg>
</a>
  </div>
  <div class="attachment-details">
    <h3 class="title govuk-!-font-size-27 govuk-!-font-weight-regular"><a class="govuk-link" href="/government/consultations/driving-licensing-review-call-for-evidence-on-opportunities-for-changes-to-the-driver-licensing-regime/driving-licensing-call-for-evidence">Driving licensing call for evidence </a></h3>
    <p class="govuk-body metadata">
        <span class="type">HTML</span>
    </p>


  </div>
</section>

</div>
  </section>

    </div>

      <div id="ways-to-respond" class="consultation-ways-to-respond">
        <h2 class="gem-c-heading gem-c-heading--font-size-27 gem-c-heading--mobile-top-margin">Ways to respond</h2>



<div class="gem-c-govspeak govuk-govspeak direction-ltr" data-module="govspeak" data-govspeak-module-started="true">

                        <div class="call-to-action">
                <p><a href="https://www.smartsurvey.co.uk/s/OF07U7/">Respond online</a></p>
              </div>

                <p>or</p>

              <p>
                Complete a <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/consultation_response_form_data/file/987/download-document.odt">response form</a> and
                either
              </p>

              <h3>Email to:</h3>
              <p><a href="mailto:licensing.consultation@dft.gov.uk">licensing.consultation@dft.gov.uk</a></p>

              <h3>Write to:</h3>
              <div class="contact">
                <div class="content">
                  <p>Department for Transport
<br>Driver Licensing CfE
<br>3rd Floor, Great Minster House
<br>33 Horseferry Road
<br>London
<br>SW1P 4DR</p>
                </div>
              </div>


</div>
    


<div class="app-c-published-dates govuk-!-margin-bottom-3" lang="en">
    Published 5 August 2022
</div>

<div class="govuk-!-display-none-print govuk-!-margin-bottom-0" data-module="gem-track-click" data-gem-track-click-module-started="true">
  <form class="gem-c-single-page-notification-button" action="/email/subscriptions/single-page/new" method="POST" data-track-label="/government/consultations/driving-licensing-review-call-for-evidence-on-opportunities-for-changes-to-the-driver-licensing-regime" data-track-action="Subscribe-button-bottom" data-track-category="Single-page-notification-button" data-button-location="bottom">
    <input type="hidden" name="base_path" value="/government/consultations/driving-licensing-review-call-for-evidence-on-opportunities-for-changes-to-the-driver-licensing-regime">
    <button class="govuk-body-s gem-c-single-page-notification-button__submit" type="submit">  <svg class="gem-c-single-page-notification-button__icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" height="18" width="18" viewBox="0 0 459.334 459.334"><path fill="currentColor" d="M177.216 404.514c-.001.12-.009.239-.009.359 0 30.078 24.383 54.461 54.461 54.461s54.461-24.383 54.461-54.461c0-.12-.008-.239-.009-.359H175.216zM403.549 336.438l-49.015-72.002v-89.83c0-60.581-43.144-111.079-100.381-122.459V24.485C254.152 10.963 243.19 0 229.667 0s-24.485 10.963-24.485 24.485v27.663c-57.237 11.381-100.381 61.879-100.381 122.459v89.83l-49.015 72.002a24.76 24.76 0 0 0 20.468 38.693H383.08a24.761 24.761 0 0 0 20.469-38.694z"></path></svg>Get emails about this page
</button>
</form>
</div>

    </div>
  </div>

<div class="govuk-grid-column-one-third">

<div class="gem-c-contextual-sidebar">


  <div class="gem-c-related-navigation">

      <h2 id="related-nav-related_items-d2045acc" class="gem-c-related-navigation__main-heading" data-track-count="sidebarRelatedItemSection">
        Related content
      </h2>




      <nav role="navigation" class="gem-c-related-navigation__nav-section" aria-labelledby="related-nav-related_items-d2045acc" data-module="gem-toggle" data-gem-toggle-module-started="true">


  <ul class="gem-c-related-navigation__link-list" data-module="gem-track-click" data-gem-track-click-module-started="true">


        <li class="gem-c-related-navigation__link"><a class="govuk-link govuk-link gem-c-related-navigation__section-link govuk-link gem-c-related-navigation__section-link--sidebar  govuk-link gem-c-related-navigation__section-link--other" data-track-category="relatedLinkClicked" data-track-action="1.1 Related content" data-track-label="/guidance/changes-to-hgv-and-bus-driving-tests-from-autumn-2021" data-track-options="{&quot;dimension28&quot;:&quot;5&quot;,&quot;dimension29&quot;:&quot;Changes to HGV and bus driving licences and tests from 15 November 2021&quot;}" href="/guidance/changes-to-hgv-and-bus-driving-tests-from-autumn-2021">Changes to HGV and bus driving licences and tests from 15 November 2021</a></li>
        <li class="gem-c-related-navigation__link"><a class="govuk-link govuk-link gem-c-related-navigation__section-link govuk-link gem-c-related-navigation__section-link--sidebar  govuk-link gem-c-related-navigation__section-link--other" data-track-category="relatedLinkClicked" data-track-action="1.2 Related content" data-track-label="/guidance/rules-for-lorries-used-for-driving-tests" data-track-options="{&quot;dimension28&quot;:&quot;5&quot;,&quot;dimension29&quot;:&quot;Rules for lorries used for driving tests&quot;}" href="/guidance/rules-for-lorries-used-for-driving-tests">Rules for lorries used for driving tests</a></li>
        <li class="gem-c-related-navigation__link"><a class="govuk-link govuk-link gem-c-related-navigation__section-link govuk-link gem-c-related-navigation__section-link--sidebar  govuk-link gem-c-related-navigation__section-link--other" data-track-category="relatedLinkClicked" data-track-action="1.3 Related content" data-track-label="/government/publications/inf52-large-vehicles-you-can-drive-using-your-car-or-lorry-licence" data-track-options="{&quot;dimension28&quot;:&quot;5&quot;,&quot;dimension29&quot;:&quot;Large vehicles you can drive using a car or lorry licence&quot;}" href="/government/publications/inf52-large-vehicles-you-can-drive-using-your-car-or-lorry-licence">Large vehicles you can drive using a car or lorry licence</a></li>
        <li class="gem-c-related-navigation__link"><a class="govuk-link govuk-link gem-c-related-navigation__section-link govuk-link gem-c-related-navigation__section-link--sidebar  govuk-link gem-c-related-navigation__section-link--other" data-track-category="relatedLinkClicked" data-track-action="1.4 Related content" data-track-label="/government/publications/lorry-and-bus-show-me-tell-me-vehicle-safety-questions" data-track-options="{&quot;dimension28&quot;:&quot;5&quot;,&quot;dimension29&quot;:&quot;'Show me, tell me' questions: lorry and bus driving test&quot;}" href="/government/publications/lorry-and-bus-show-me-tell-me-vehicle-safety-questions">'Show me, tell me' questions: lorry and bus driving test</a></li>
        <li class="gem-c-related-navigation__link"><a class="govuk-link govuk-link gem-c-related-navigation__section-link govuk-link gem-c-related-navigation__section-link--sidebar govuk-link gem-c-related-navigation__section-link--inline  govuk-link gem-c-related-navigation__section-link--other" data-track-category="relatedLinkClicked" data-track-action="1.5 Related content" data-track-label="/guidance/rules-for-buses-and-coaches-used-for-driving-tests" data-track-options="{&quot;dimension28&quot;:&quot;5&quot;,&quot;dimension29&quot;:&quot;Rules for buses and coaches used for driving tests&quot;}" href="/guidance/rules-for-buses-and-coaches-used-for-driving-tests">Rules for buses and coaches used for driving tests</a></li>

  </ul>
</nav>

  </div>



</div>

</div>

</div>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

  <div class="gem-c-contextual-footer">

  <div class="gem-c-related-navigation">





      <nav role="navigation" class="gem-c-related-navigation__nav-section" aria-labelledby="related-nav-topics-d8a5f514" data-module="gem-toggle" data-gem-toggle-module-started="true">

    <h2 id="related-nav-topics-d8a5f514" class="gem-c-related-navigation__sub-heading gem-c-related-navigation__sub-heading--footer" data-track-count="footerRelatedItemSection">Explore the topic</h2>

  <ul class="gem-c-related-navigation__link-list" data-module="gem-track-click" data-gem-track-click-module-started="true">


        <li class="gem-c-related-navigation__link"><a class="govuk-link govuk-link gem-c-related-navigation__section-link govuk-link gem-c-related-navigation__section-link--footer" data-track-category="relatedLinkClicked" data-track-action="1.1 Explore the topic" data-track-label="/transport/driving-and-motorcycle-tests" data-track-options="{&quot;dimension28&quot;:&quot;4&quot;,&quot;dimension29&quot;:&quot;Driving and motorcycle tests&quot;}" href="/transport/driving-and-motorcycle-tests">Driving and motorcycle tests</a></li>
        <li class="gem-c-related-navigation__link"><a class="govuk-link govuk-link gem-c-related-navigation__section-link govuk-link gem-c-related-navigation__section-link--footer" data-track-category="relatedLinkClicked" data-track-action="1.2 Explore the topic" data-track-label="/transport/driving-licences" data-track-options="{&quot;dimension28&quot;:&quot;4&quot;,&quot;dimension29&quot;:&quot;Driving licences&quot;}" href="/transport/driving-licences">Driving licences</a></li>
        <li class="gem-c-related-navigation__link"><a class="govuk-link govuk-link gem-c-related-navigation__section-link govuk-link gem-c-related-navigation__section-link--footer" data-track-category="relatedLinkClicked" data-track-action="1.3 Explore the topic" data-track-label="/transport/professional-driving-of-lorries-buses-and-coaches" data-track-options="{&quot;dimension28&quot;:&quot;4&quot;,&quot;dimension29&quot;:&quot;Professional driving of lorries, buses and coaches&quot;}" href="/transport/professional-driving-of-lorries-buses-and-coaches">Professional driving of lorries, buses and coaches</a></li>
        <li class="gem-c-related-navigation__link"><a class="govuk-link govuk-link gem-c-related-navigation__section-link govuk-link gem-c-related-navigation__section-link--footer" data-track-category="relatedLinkClicked" data-track-action="1.4 Explore the topic" data-track-label="/transport/transport-businesses-and-vehicle-operator-licences" data-track-options="{&quot;dimension28&quot;:&quot;4&quot;,&quot;dimension29&quot;:&quot;Transport businesses and vehicle operator licences&quot;}" href="/transport/transport-businesses-and-vehicle-operator-licences">Transport businesses and vehicle operator licences</a></li>

  </ul>
</nav>

  </div>

  </div>


    </div>
  </div>





{% endblock %}
